.app{
    background-image: url("https://cdn.pixabay.com/photo/2016/12/10/21/26/food-1898194_1280.jpg");
    background-size: cover;
    background-repeat:repeat;
    height:1020px;
    top: 50%;
    left: 50%;
    padding: 10px;
    

}
.app:hover .input{
    width:230px;
    background: white;
    border-radius: 10px;
}
.icon{
    position: relative;
    top:50%;
    right:40px;
    bottom: -20px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    transition: .2s;
}
.form:hover .icon{
    opacity: 0;
    z-index: -999;
}
.header{
    text-align: center;
    color:green;
}
.form{
    /* max-width: 1500px; */
    /* width: 700px; */
    width: 90%;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    margin:0 auto;
    background:white;
    border: 1px solid;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 3px 7px 5px rgb(143, 92, 109);
    
}
.search{
    width:130px;
    height:35px;
    background-color: blanchedalmond;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(80, 52, 9);
}
.input{
    width:80px;
    padding: 10px;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    border: 2px solid green;
    background-color:blanchedalmond;
    transition: .5s;
}
.center{
    text-align: center;
    margin:0 auto;
}
.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}