*{
    box-sizing: border-box;
}
.showrecipe-display{
    /* flex:50%; */
    padding: 0 4px;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    flex-wrap: wrap;
 }

.column{
    width:50%;
    float: left;
    padding:10px;
}
.column .images{
   margin-top: 12px;
   vertical-align: middle;
}
.showrecipe-display:after{
    content: "";
    display: flex;
    clear: both;
}