/* *{
    box-sizing: border-box;
    margin:0 auto;
} */
/* .row .showrecipe-display{
    flex:50%;
    flex-direction: row;
    justify-content: space-around;
    
    max-width: 100%;
    width: 50%;
   
    
 } */

/* .column{
    width:30%;
    display: flex;
    flex-wrap: nowrap;
    float: left;
    padding:90px;
} */
/* .images{
   margin-top: 12px;
   vertical-align: middle;
} */
/* .showrecipe-display:after{
    content: "";
    display: flex;
    clear: both;
} */